<header class="topbar">
    <a class="brand" href="/swipe">
        <img src="/static/logos/logo.svg" alt="Baby Names Swiper">
    </a>
    <nav>
        <a href="/swipe" class="{% if request.url.path == '/swipe' %}active{% endif %}">swipe</a>
        <a href="/overview" class="{% if request.url.path == '/overview' %}active{% endif %}">overview</a>
        <a href="/upload" class="{% if request.url.path == '/upload' %}active{% endif %}">upload</a>
        {% if active_list is defined and active_list %}
        <details class="add-name">
            <summary>+ name</summary>
            <form class="add-name-form" method="post" action="/add-name">
                <input type="hidden" name="list" value="{{ active_list }}">
                {% if active_mode is defined and active_mode %}
                <input type="hidden" name="mode" value="{{ active_mode }}">
                {% endif %}
                {% if reswipe is defined and reswipe %}
                <input type="hidden" name="reswipe" value="1">
                {% endif %}
                <input type="text" name="name" placeholder="add a name&hellip;"
                       maxlength="50" autocomplete="off" required>
                <button type="submit">add</button>
            </form>
        </details>
        {% endif %}
        {% if user is defined and user %}
            <span class="who">{{ user }}</span>
            <a href="/logout">switch</a>
        {% endif %}
    </nav>
</header>
